<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <!-- Configuración de la conexión a la base de datos -->
    <session-factory>
        <!-- Configuración del driver de la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- URL de la base de datos -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hospital_db</property>
        <!-- Usuario y contraseña de la base de datos -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Configuración de Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeo de las clases de entidad -->
        <mapping class="ruta.de.tu.paquete.Doctor"/>
        <mapping class="ruta.de.tu.paquete.Patient"/>
    </session-factory>
</hibernate-configuration>
